@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), url('../fonts/montserrat-v25-latin-regular.woff') format('woff'); 
    font-style: normal;
    font-weight: 400;     
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'), url('../fonts/montserrat-v25-latin-700.woff') format('woff');
    font-style: normal;
    font-weight: 700;      
  }
  