.bg-publications {
    background: $greybg;
}
.publications {
    padding-top: 30px;
&-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: $activeregular;
    &::after {
        content: '';
        background-image: url('../img/arrow.svg');
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        display: inline-block;
    }
}
    &-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: $textgradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding-bottom: 30px;
}
    &-box {
        padding-bottom: 30px;
    &__item {
        border-radius: 8px;
        margin-bottom: 30px;
        background: $white;
    }
} 
}

.publications-box-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    &__link {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        color: $activeregular;
    }
    &__period {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $greytext;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 4px solid $greyseparator;
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $black;
        padding-top: 15px;
        max-width: 255px;
    }
}

@media (min-width: 768px) {
    .publications-title {
        font-size: 38px;
        line-height: 46px;
        padding-top: 10px;
    }
    
    .publications-box {
        display: grid;
        grid-template-columns: 309px 309px;
        grid-template-rows: 1fr 1fr;
        column-gap: 30px;
        &__item--03 {
            grid-column: span 2;

        }
    }
    .publications-box-content__text {
        max-width: 588px;
    }
}

@media (min-width: 992px) {
    .publications-box {
        grid-template-columns: 282px 282px 282px;
        grid-template-rows: 1fr;
        &__item--03 {
            grid-column: 3 /4 ;
        }
    }
}

@media (min-width: 1200px) {
    .publications-box {
        grid-template-columns: 420px 420px 420px;
        grid-template-rows: 1fr;
    }
}
